.activeSession {
    max-height: 12vh;
}

.sessionAppName {
    display: none !important;
}

.sessionAppInfo img {
    margin-left: 87%;
}

.sessionAppName {
    vertical-align: top;
    max-width: 200px;
    margin-top: -1vh;
}

.sessionDeviceName {
    margin-left: 15vw;
    text-align: left;
}

.sessionAppName {
    margin-top: -1vh;
}

.sessionAppSecondaryText {
    margin-top: -2vh;
}

.sessionNowPlayingInfo {
    margin-top: -8vh;
}

.sessionNowPlayingTime {
    margin-top: -3vh;
}

.dashboardSection .card .cardScalable {
    max-height: 8vh;
    margin-bottom: 3.5vh;
}

.dashboardSection .justify-content-center {
    justify-content: left !important;
}

.sessionCardButtons {
    justify-content: right !important;
}

.dashboardSection .flex.align-items-center.justify-content-center {
    margin-top: -4vh;
}

.sessionNowPlayingInfo img {
    margin-top: 2vh;
}
