.actionSheetMenuItem  .material-icons.check:before {
    color: var(--accent) !important;
    font-weight: 900;
}
.emby-button[data-id="120000000"], .emby-button[data-id="80000000"],.emby-button[data-id="60000000"], .emby-button[data-id="40000000"], .emby-button[data-id="420000"] {
    display: none !important;
}
.emby-button[data-id="20000000"],
.emby-button[data-id="15000000"], .emby-button[data-id="10000000"], .emby-button[data-id="8000000"], .emby-button[data-id="6000000"], .emby-button[data-id="4000000"],
.emby-button[data-id="3000000"], .emby-button[data-id="1500000"], .emby-button[data-id="720000"] {
    color: transparent;
}
.emby-button[data-id="40000000"]:after, .emby-button[data-id="20000000"]:after, .emby-button[data-id="15000000"]:after, .emby-button[data-id="10000000"]:after, 
.emby-button[data-id="8000000"]:after, .emby-button[data-id="6000000"]:after, .emby-button[data-id="4000000"]:after, .emby-button[data-id="3000000"]:after, 
.emby-button[data-id="1500000"]:after, .emby-button[data-id="720000"]:after, .emby-button[data-id="0"]:after {
    color: white !important;
    font-size: 16px;
    font-weight: 900;
    margin-right: 100%;
}

.emby-button[data-id="20000000"]:after {
    content: "20Mbps";
}
.emby-button[data-id="15000000"]:after {
    content: "15Mbps";
}
.emby-button[data-id="10000000"]:after {
    content: "10Mbps";
}
.emby-button[data-id="8000000"]:after {
    content: "8Mbps";
}
.emby-button[data-id="6000000"]:after {
    content: "6Mbps";
}
.emby-button[data-id="4000000"]:after {
    content: "4Mbps";
}
.emby-button[data-id="3000000"]:after {
    content: "3Mbps";
}
.emby-button[data-id="1500000"]:after {
    content: "1.5Mbps";
}
.emby-button[data-id="720000"]:after {
    content: "0.5Mbps";
}
