.section2 .card.overflowBackdropCard.card-hoverable.card-withuserdata {
width:11vw
}

.section1 .card.overflowBackdropCard.card-hoverable.card-withuserdata {
width:17vw
}

#childrenCollapsible .card.overflowPortraitCard.card-hoverable.card-withuserdata {
width:6vw
}
